.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0; /* 부모 요소 전체를 덮도록 설정 */
  background-color: rgba(0, 0, 0, 0.3); /* 검은색 40% 투명도 오버레이 */
  z-index: 1; /* 콘텐츠(z-index: 2)보다 아래에 위치 */
}

.hero > * {
  position: relative;
  z-index: 2;
}

.heading {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: SeoulNamsanM;
  color: #ffffff;
}

.searchBar {
  display: flex;
  gap: 10px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.searchInput {
  padding: 10px;
  width: 500px;
  height: 44px;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

button.searchBtn {
  background-color: #000 !important;
  width: 100px !important;
  color: #fff;
  padding: 10px 20px;
  height: 44px;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  box-sizing: border-box;
}

@media screen and (max-width: 699px) {
  .hero {
    height: 400px;
    margin-top: 70px;
  }

  .searchInput {
    width: 250px;
    height: 36px;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  button.searchBtn {
    padding: 8px 15px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
  }
}
.areaSelect {
  margin-left: 10px;
  color: #4b5563; /* 기본 글자색 */
  background-color: #f3f4f6; /* 기본 배경색 */
  border: none;
  padding: 10px 20px;
  height: 44px;
  line-height: 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition:
    background-color 0.2s,
    color 0.2s;
  box-sizing: border-box;
}

.areaSelect:hover {
  background-color: #e5e7eb; /* hover 시 밝은 회색 */
}

.areaSelect.active {
  background-color: #3b82f6; /* 활성화 시 파란 배경 */
  color: #ffffff; /* 활성화 시 흰 글자 */
}
